---
import Movile from "@components/movile.astro";
import NavBar from "@components/NavBar.astro";
---

<style is:global>
  #astro {
    font-family: Arial, sans-serif;
    background-color: #131212;
    color: white;
  }
</style>

<style>
  .hello-world {
    color: #333;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Code Crafther Studios</title>
  </head>
  <body
    class="flex justify-center bg-primary text-secondary h-screen w-screen overflow-y-auto"
  >
    <main class="flex flex-col h-full w-[70vw] gap-10">
      <NavBar />
      <h1
        class="text-2xl text-center font-bold bg-gradient-to-r from-accent via-green-300 to-secondary text-transparent bg-clip-text lg:text-5xl md:text-4xl sm:text-3xl w-full"
      >
        Innovación en Software y Tecnología
      </h1>

      <h2 class="text-md md:text-lg text-center text-neutral">
        En CodeCrafterStudios, desarrollamos cualquier producto de software que
        necesites: IA, blockchain, web, móvil y automatización. Nuestra
        innovación y enfoque personalizado garantizan resultados excepcionales.
        Impulse su éxito con nosotros en la era digital.
      </h2>
      <section class="flex justify-center items-center">
        <Movile />
      </section>
    </main>
  </body>
</html>
