---
import NavBar from "@components/NavBar.astro";
import Hero from "@components/Hero.astro";
import "../styles/global.css";
import Services from "@components/Services.astro";
import Team from "@components/Team.astro";

const team = [
  {
    photo: "/media/juanPabloCeron.jpg",
    name: "Juan Pablo",
    role: "Developer",
  },
  {
    photo: "/media/juanYonda.jpg",
    name: "Juan Yonda",
    role: "Developer",
  },
  // {
  //   photo: "/media/andreacoque.jpg",
  //   name: "Karen coque",
  //   role: "Contadora",
  // },
  // {
  //   photo:
  //     "https://quantdev.co/_next/image?url=%2Fimages%2FteamOrigin%2Fmanuel.png&w=3840&q=75",
  //   name: "Andres ordoñez",
  //   role: "Developer",
  // },
  {
    photo: "/media/andres.jpg",
    name: "Andres ordoñez",
    role: "Developer",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Code Crafther Studios</title>
  </head>
  <body class="bg-primary custom-background">
    <NavBar />
    <main>
      <section
        class="flex flex-col justify-center items-center gap-10 m-auto pb-10"
      >
        <Hero />
        <div class="flex justify-center items-center w-[90%] xl:w-[60vw]">
          <video
            src="/media/videoMac.mp4"
            loop
            playsinline
            autoplay
            muted
            class="w-full h-full object-cover"></video>
        </div>
      </section>
      <Services />

      <h1
        class="title text-2xl text-center bg-gradient-to-r from-accent to-secondary text-transparent bg-clip-text lg:text-[56px] md:text-4xl sm:text-3xl w-full h-full pb-5 pt-[85px] mt-[-40px]"
      >
        Nuestro Equipo
      </h1>
      <div class="w-full flex justify-center items-center py-12">
        <section class="flex justify-center items-center flex-wrap gap-10">
          {
            team.map((index) => (
              <Team photo={index.photo} name={index.name} role={index.role} />
            ))
          }
        </section>
      </div>
    </main>
  </body>
</html>
