---
import Movile from "@components/movile.astro";
import NavBar from "@components/NavBar.astro";
import Hero from "@components/Hero.astro";
import "../styles/global.css";
import Mac from "@components/Mac.astro";
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Code Crafther Studios</title>
  </head>
  <body class="bg-primary">
    <main class="flex flex-col bg-primary  w-[70vw] gap-10  m-auto">
      <NavBar />
      <Hero/>
      <Mac/>
      <Movile/>
    </main>
  </body>
</html>
