<a
  class="bg-[#0d0f14] rounded-lg ring-2 ring-accent p-3 flex items-center justify-center gap-3 shadow-[0_4px_4px_rgba(0,0,0,0.25)] transition-shadow duration-200 hover:shadow-none hover:text-accent"
  target="_blank"
  href="https://wa.me/573235892829?text=%C2%A1Bienvenido%20a%20Code%20Crafter%20Studio!%20Estamos%20encantados%20de%20hablar%20contigo.%20Cont%C3%A1ctanos%20y%20hagamos%20realidad%20todas%20tus%20ideas."
>
  <span class="font-bold">WhatsApp</span>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png"
    alt="WhatsApp Logo"
    class="w-5 h-5"
  />
</a>
