
<style>
    .title{
      font-family: 'TWK Everett Bold', sans-serif;
      letter-spacing: -0.02em;
    }
</style>
<div class="flex flex-col gap-3 w-[45vw] m-auto">
    <h1
      class="title text-2xl text-center bg-gradient-to-r from-accent to-secondary text-transparent bg-clip-text lg:text-6xl md:text-5xl sm:text-3xl w-full"
    >
      Innovación en Software y Tecnología
    </h1>

    <h2 class="text-md md:text-lg text-center text-neutral">
      En CodeCrafterStudios, desarrollamos cualquier producto de software que
      necesites: IA, blockchain, web, móvil y automatización. Nuestra
      innovación y enfoque personalizado garantizan resultados excepcionales.
      Impulse su éxito con nosotros en la era digital.
    </h2>
</div>