<div class="relative z-10 w-full h-[630px] overflow-visible">
    <div class="absolute inset-[-16px] z-20">
        <img
          decoding="async"
          sizes="304px"
          src="/public/media/laptop-removebg-preview.png"
          alt=""
          class="block w-full h-full rounded-inherit object-cover"
        />
    </div>
</div>