<div class="relative w-full max-w-[1200px] mx-auto">
  <img class="w-full block" src="/public/media/laptop.webp" alt="Laptop" />
  <div class="absolute top-[10%] left-[8%] w-[84%] h-[70%] overflow-hidden">
    <video
      src="/media/presentationweb.mp4"
      loop
      playsinline
      autoplay
      class="w-full h-full object-cover"
    >
    </video>
  </div>
</div>
