---
// Asumiendo que tienes las propiedades pasadas correctamente
interface Props {
  urlVideo: string;
}
const { urlVideo } = Astro.props;
---

<div class="flex justify-center items-center w-full h-full hover:scale-125">
  <div
    class="relative z-10 w-[284px] max-w-[300px] h-full max-h-[600px] overflow-visible"
  >
    <div class="absolute opacity-100">
      <video
        src={urlVideo}
        loop
        playsinline
        autoplay
        class="cursor-auto w-full h-full rounded-[35px] object-cover bg-transparent p-5"
      ></video>
    </div>
    <div class="absolute z-20">
      <img
        decoding="async"
        sizes="304px"
        src="/public/media/phone.webp"
        alt="Phone Frame"
        class="block w-full h-full rounded-inherit object-cover"
      />
    </div>
  </div>
</div>
