<div class="relative z-10 w-[284px] h-[600px] overflow-visible">
  <div class="absolute inset-0 scale-100 hover:scale-125 opacity-100">
    <video
      src="/public/media/videomovile.mp4"
      loop
      playsinline
      autoplay
      class="cursor-auto w-full h-full rounded-[35px] object-cover bg-transparent"
    ></video>
  </div>
  <div class="absolute inset-[-26px] z-20">
    <img
      decoding="async"
      sizes="304px"
      src="/public/media/phone.webp"
      alt=""
      class="block w-full h-full rounded-inherit object-cover"
    />
  </div>
</div>
