---
// Definir los props de manera directa en el archivo .astro
export interface Props {
  photo: string;
  name: string;
  position: string;
}

const { photo, name, position } = Astro.props;
---

<div class="bg-secondary text-primary p-6 mb-40 shadow-lg flex items-center w-80 flex-row transform transition duration-500 hover:shadow-2xl hover:bg-gradient-to-r hover:from-purple-400 hover:to-blue-500 hover:scale-105">
  <img src={photo} alt={name} class="w-24 h-24 rounded-full object-cover transition-transform duration-500 transform" />
  <div> 
    <h3 class="ml-5 text-xl font-bold">{name}</h3>
    <p class="ml-5 text-sm text-primary font-bold">{position}</p>
  </div>
</div>


